{% extends 'moneyfishapp/base.html' %}
{% load static %}

{% block title_block %}
    Debts
{% endblock %}


{% block header_block %}
<div>
    <img src="{% static 'images/MFlogoDebts.png' %} " alt="MoneyFish logo" class="img-place" />
</div>


<style>
    .img-place {
        margin-top: 8px; 
        margin-bottom: 8px;
  }
</style>

{% endblock %}

{% block body_block %}

<script>
	var y = 0
</script>



    {% if user.is_authenticated %}
        {{ user.username }} : Debts
    {% endif %}
			<p id="debts"></p>
    <div>
    {% if debts %}
    {<script> var num = 0</script>
        <ul>
        {% for debt in debts %}
            {% if debt.user.username == user.username %}
            <script> num = num +1</script>
            <li>{{ debt.lender }} : {{ debt.dvalue }}</li>
			<script>
				var y = y + {{ debt.dvalue }}
				var total = y
				document.getElementById("debts").innerHTML ="Your total debt is: £" + total;
			</script>
            <br />
            {% endif %}
        {% endfor %}
        {% if num == 0 %}
        <strong>No Debts</strong>
        {% endif %}
        </ul>
    {% else %}
        <strong>No Debts</strong>
    {% endif %}
    </div>
    <br />
    <a href="{% url 'moneyfishapp:add_debt' user.username %}">Add a New Debt</a><br />
{% endblock %}


