{% extends 'moneyfishapp/base.html' %}
{% load static %}

{% block title_block %}
    Loans
{% endblock %}

{% block header_block %}
<div>
    <img src="{% static 'images/MFlogoLoans.png' %} " alt="MoneyFish logo" class="img-place" />
</div>

<script>
	var y = 0
</script>



<style>
    .img-place {
        margin-top: 8px; 
        margin-bottom: 8px;
  }
</style>

{% endblock %}

{% block body_block %}
    
		<p id="loans"></p>
    {% if user.is_authenticated %}
        {{ user.username }} : Loans
    {% endif %}

    <div>
    {% if loans %}
        <ul>
        <script> var num = 0</script>
        {% for loan in loans %}
        {% if loan.user.username == user.username %}
        <script> num = num +1</script>
            <li>{{ loan.borrower }} : {{ loan.lvalue }}</li>
			<script>
				var y = y + {{ loan.lvalue }}
				var total = y
				document.getElementById("loans").innerHTML ="Your total loaned money is: £" + total;
			</script>
            <br />
        {% endif %}
        {% endfor %}
        {% if num == 0 %}
        <strong>No Loans</strong>
        {% endif %}
        </ul>
    {% else %}
        <strong>No Loans</strong>
    {% endif %}
    </div>
    <br />
    <a href="{% url 'moneyfishapp:add_loan' user.username %}">Add a New Loan</a><br />
{% endblock %}