{% extends 'moneyfishapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Loans
{% endblock %}

{% block header_block %}
<div>
    <img src="{% static 'images/MFLogoLoans.png' %} " alt="MoneyFish logo" class="img-place" />
</div>


<style>
    .img-place {
        margin-top: 8px; 
        margin-bottom: 8px;
  }
</style>
{% endblock %}

{% block body_block %}
<br />

    {% if user.is_authenticated %}
        {{ user.username }} : Loans
    {% endif %}

    <div>
    {% if loans %}
        <br />
        <ul>
        {% for loan in loans %}
            <li>{{ loan.borrower }} : {{ loan.lvalue }}</li>
            <br />
        {% endfor %}
        </ul>
    {% else %}
        <strong>No Loans</strong>
    {% endif %}
    </div>
    <br />
    <a href="/moneyfishapp/add_loan/">Add a New Loan</a><br />
{% endblock %}