{% extends 'moneyfishapp/base.html' %}
{% load static %}

{% block title_block %}
    MyMoney
{% endblock %}

{% block header_block %}
<div>
    <img src="{% static 'images/MFLogoMoney.png' %} " alt="MoneyFish logo" class="img-place" />
</div>


<style>
    .img-place {
        margin-top: 8px; 
        margin-bottom: 8px;
  }
</style>

{% endblock %}

{% block body_block %}
<br />
	

    {% if user.is_authenticated %}
        {{ user.username }} : Total Money
    {% endif %}
    <br />
	
	<script>
	var x = 0
	var y = 0
	</script>
	<p id="income"></p>
    <div>
        Money In:
        <br />
        {% if income %}
        <script> var num = 0</script>
            <ul>
            {% for in in income %}
            {% if in.user.username == user.username %}
            <script> num = num +1</script>
                <li>{{ in.insource}} : {{ in.invalue }}</li>
				<script>
				var x = x + {{ in.invalue }}
				</script>
				
                <br />
            {% endif %}
            {% endfor %}
            {% if num == 0 %}
            <strong>No Income.</strong>
            {% endif %}
            </ul>
        {% else %}
            <strong>No Income.</strong>
        {% endif %}
    </div>
    <br />
    <a href="{% url 'moneyfishapp:add_income' user.username %}">  Add a New Income</a><br />
    <div>
	
	<p id="out"></p>
        Money Out:
        <br />
        {% if outgoing %}
        <script> num = 0</script>
            <ul>
            {% for out in outgoing %}
            {% if out.user.username == user.username%}
            <script> num = num +1</script>
                <li>{{ out.outsource }} : {{ out.outvalue }}</li>
				<script>
				var y = y + {{ out.outvalue }}
				var total = x -y
				document.getElementById("income").innerHTML ="Your total money is: £ " + total;
				</script>
                <br />
            {% endif %}
            {% endfor %}
            {% if num == 0 %}
            <strong>No Οutgoing.</strong>
            {% endif %}
            </ul>
        {% else %}
            <strong>No Outgoing.</strong>
        {% endif %}
    </div>
	
    <br />
    <a href="{% url 'moneyfishapp:add_outgoing' user.username %}">Add New Outgoing</a><br />
	
{% endblock %}